
.searchTermContainer {
    user-select: none;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: flex-start;
    font-size: 32px;
    font-family: var(--font-global), sans-serif;
    flex-wrap: nowrap;
    gap: 16px;

    margin-bottom: 50px;
}

.searchTermContainerTitle {
    font-weight: 200;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.searchTermContainerTherm {

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    font-weight: 600;
    padding: 0;
    margin: 0;
}

.songListContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.songListItem {

    user-select: none;

    cursor: pointer;

    position: relative;
    height: 0; /* Ajuste flexible */
    padding-bottom: 100%; /* Hace que el elemento sea cuadrado */
    border-radius: 16px;

    background-image: url('/song-list/images/webp/corchea-musical.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;

    overflow: hidden;
    transition: transform 0.15s ease-in-out;


}

.songListItem:hover {
    transform: scale(1.05);
}

.songListItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent, transparent);
    pointer-events: none;
    z-index: 1;
}

.songListItemContent {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    gap: 10px;

    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 18px;
    z-index: 2;
}

.songListItemContent p {
    padding: 0;
    margin: 0;
}

.songTitle {
    font-size: 16px;
    font-weight: 600;
}


.songArtist {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;

}

.songAlbum {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
}


.playIconContainer {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    z-index: 3;

    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);


    transition: opacity 0.15s ease-in-out, transform 0.20s ease-in-out;
}

.playIconContainer svg {
    width: 30%;
    height: 30%;
}


/*TODO desactivar el hover cuando se reproduzca la canción*/
.songListItem:hover .playIconContainer {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}



/* Skeleton Loader */
.songListItemLoading {
    position: relative;
    height: 0;
    padding-bottom: 100%; /* Hace que el elemento sea cuadrado */
    border-radius: 16px;
    background: linear-gradient(
            90deg,
            #e0e0e0 25%,
            #f0f0f0 50%,
            #e0e0e0 75%
    ); /* Gradiente simulando brillo */
    background-size: 200% 100%;
    animation: loadingAnimation 1.5s infinite;
    overflow: hidden;
}

/* Animación de brillo */
@keyframes loadingAnimation {
    from {
        background-position: -200% 0;
    }
    to {
        background-position: 200% 0;
    }
}

/* Contenido simulado dentro del Skeleton Loader */
.songListItemLoadingContent {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: 60%;
    height: 16px;
    background-color: #ececec;
    border-radius: 4px;
    opacity: 0.7;
}

.songListItemLoadingContent.small {
    width: 40%;
    bottom: 45px;
    margin-top: 8px;
}


@media (max-width: 600px) {
    .searchTermContainer {
        gap: 10px;
        font-size: 24px;
    }
}

@media (max-width: 400px) {
    .searchTermContainer {
        gap: 8px;
        font-size: 18px;
    }
}